<!DOCTYPE html>
<html>
<header>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/openlayers/dist/ol.css">
  <!-- <link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css"> -->
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="jquery-ui-slider-pips.css">
  <script src="jquery-3.3.1.min.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="jquery-ui-slider-pips.js"></script>
  <script src="https://unpkg.com/openlayers@4.4.2"></script>
  <!-- <script src="https://unpkg.com/ol-popup@2.0.0"></script> -->
  <script src="legend.js" type="text/javascript"></script>
  <script src="tabs.js" type="text/javascript"></script>
  <script src="timeline.js" type="text/javascript"></script>
  <script src="updateVisualizationBox.js" type="text/javascript"></script>
</header>

<body style="margin:0px;">
  <div class="headerBox">
    <img src="logoSimumo.png" class="logo">
    <span padding-bottom=10px>Visualisation </span>
  </div>

  <br>

  <div class=selectionBoxes>
    <div class="selectionBox">
      <h3>Métriques</h3>
      <div class="metricSelectionBox">
        {% for metric in metrics %}
          <input type="radio" name="metricSelection" style="float:left;" onclick="updateVisualizationBox()" data-logPath={{"\"" +metric.logName + "\""}} data-unit={{"\"" +metric.unit + "\""}} }>
          <div style="float:left;">{{metric.name + '(' +metric.unitLabel + ')'}}</div>
          <br>
        {% endfor %}
      </div>
    </div>

    <div class="selectionBox" id="legendBox">
      <h3>Légende</h3>

      <div id="legendColors">
      {% for color in legend %}
        <div class="legendColor" data-red={{"\"" +color.red|string + "\""}} data-green={{"\"" +color.green|string + "\""}} data-blue={{"\"" +color.blue|string + "\""}}> </div>
      {% endfor %}
      </div>

      <div id="gradientBox"> </div>

  </div>

  <div id="visualizations">
    <div id="tabs">
      <ul>
        <li><a href="#" rel="ColoredPoints" class="selected" onclick="loadit(this)">Points colorés</a></li>
        <li><a href="#" rel="HeatMap" onClick="loadit(this)">Heatmap</a></li>
      </ul>

      {% include 'OlMapTemplate.html' %}
   </div>
  </div>

  <br>
  <br>

  <div class="sliderPosition">
    <div id="flat-slider" class="unintialized"></div>
  </div>
  <br>
  <div id="sliderUnit"></div>

</html>
