<!DOCTYPE html>
<html>
<header>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="jquery-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/openlayers/dist/ol.css">
  <!-- <link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css"> -->
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="jquery-ui-slider-pips.css">
  <link rel="stylesheet" type="text/css" href="tabs.css" />
  <script src="jquery-3.3.1.min.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="jquery-ui-slider-pips.js"></script>
  <script src="https://unpkg.com/openlayers@4.4.2"></script>
  <!-- <script src="https://unpkg.com/ol-popup@2.0.0"></script> -->
  <script src="tabs.js" type="text/javascript"></script>
  <script src="updateVisualizationBox.js" type="text/javascript"></script>
</header>

<body style="margin:0px;">
  <div class="headerBox">
    <img src="logoSimumo.png" class="logo">
    <span padding-bottom=10px>Visualisation </span>
  </div>

  <br>

  <div class=selectionBoxes>
    <div class="selectionBox">
      <h3>Métriques</h3>
      <div class="metricSelectionBox">
        {% for metric in metrics %}
          <input type="radio" name="metricSelection" style="float:left;" onclick="updateVisualizationBox()" data-unit={{"\"" +metric.unit + "\""}}>
          <div style="float:left;">{{metric.name + '(' +metric.unitLabel + ')'}}</div>
          <br>
        {% endfor %}
      </div>
    </div>

    <div class="selectionBox">
      <h3>Légende</h3>

      <div id="legendColors">
      {% for color in legend %}
        <div class="legendColor" data-red={{"\"" +color.red|string + "\""}} data-green={{"\"" +color.green|string + "\""}} data-blue={{"\"" +color.blue|string + "\""}}> </div>
      {% endfor %}
      </div>

      <div class="gradientbox" style="background-image: linear-gradient(to right,{% for color in legend -%} {{ 'rgb(' + [color.red, color.green, color.blue]|join(',') + ')'}} {{ "," if not loop.last }} {%- endfor %});">
      </div>

      <div class="beginLegendBox">
        {{timeline.min}}
      </div>
      <div class="middleLegendBox">
        {{timeline.max/2|round|int}}
      </div>
      <div class = "endLegendBox">
        {{timeline.max}}
      </div>

  </div>

  <div id="content">
    <div id="tabs">
      <ul>
        <li><a href="#" rel="MapBox" class="selected" onclick="loadit(this)">Carte</a></li>
        <li><a href="#" rel="OtherVisualisation" onClick="loadit(this)">Autre</a></li>
      </ul>

      <div id="VisualizationBox">
        <div class="MapBox">
          {% include 'OlMapTemplate.html' %}
        </div>
        <div class="OtherVisualisation" visibility="hidden">
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="sliderPosition">
    <div id="flat-slider"></div>
  </div>

  <!-- https://simeydotme.github.io/jQuery-ui-Slider-Pips/#installation -->
  <script>
    $("#flat-slider").slider({
      max: {{timeline.max}},
      min: {{timeline.min}},
      range: true,
      values: [{{timeline.min}}, {{timeline.max}}],
      slide: updateVisualizationBox
    }).slider("pips", {
      rest: "label",
      step: {{(timeline.max - timeline.min)/10.0}}
    });
  </script>

</body>
